.c1 {
  text-align: center;
  display: flex;
  justify-content: center;
}

.main {
  display: inline-block;
  display: flex;
  margin-top: 30px;
}

.rightPart {
  text-align: center;
  width: 350px;
  background-color: white;
  margin-top: 15px;
  margin-left: 20px;
  border: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
  height: 393px;
}

.input_Btn_Container {
  padding: 0 40px;
  margin-top: 30px;
}

.input {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
}
.input input {
  padding: 9px 0 0 5px;
}
.input .floatingLabel {
  position: absolute;
  margin-left: 7px;
  font-size: 0.7rem;

  color: rgba(var(--f52, 142, 142, 142), 1);
}
.floatingLabel:hover {
  cursor: text;
}

.input input:focus {
  outline: none !important;
  border-color: #719ece;
  box-shadow: 0 0 10px #719ece;
}

.input input:not(:placeholder-shown) ~ .floatingLabel {
  top: 6px;
}

.input_Btn_Container input {
  width: 100%;
  height: 40px;
  display: block;
  margin: 5px 0;
  background-color: rgba(var(--b3f, 250, 250, 250), 1);
  border: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
  border-radius: 3px;
}

.input_Btn_Container button {
  width: 100%;
  height: 30px;
  display: block;
  margin: 10px 0;
  background-color: rgba(var(--d69, 0, 149, 246), 1);
  color: white;
  font-weight: 500;
  border: none;
  border-radius: 3px;
}

.or {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 18px 0px 18px;
}

.or::before,
.or::after {
  content: "";
  flex: 1 1;
  border-bottom: 1px solid #dbdbdb;
}
.or_text {
  margin: 0 18px;
  color: #8e8e8e;
  font-size: 13px;
  font-weight: 600;
  line-height: 15px;
}

.Login_With_Facebook {
  /* display: inline-block; */
  margin-top: 7px;
  background-color: white;
  border: none;
  font-weight: 500;
  font-size: 0.9rem;
  color: #385185;
  width: 260px;
  height: 20px;
  padding: 0;
}

.Login_With_Facebook span {
  margin-right: 10px;
  margin-top: 40px;
  font-size: 1.3rem;
}

.ForgotPassword {
  margin-top: 10px;
}

.ForgotPassword a {
  color: rgba(var(--fe0, 0, 55, 107), 1);
  font-size: 12px;
  text-decoration: none;
}

/* ********************************************************************************************* */
.rightPart2 {
  display: flex;
  margin-left: 20px;
  margin-top: 10px;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 65px;
  background-color: white;
  border: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
}

.rightPart2 a {
  text-decoration: none;
}

.rightPart2 p {
  margin: 0;
  padding: 0;
}

/* ********************************************************************************************* */
.rightPart3 {
  margin-top: 10px;
  font-size: 0.9rem;
  font-weight: 400;
}

/* ********************************************************************************************* */
.rightPart4 {
  margin-top: 20px;
  font-size: 0.9rem;
  font-weight: 400;
}
.rightPart4 img {
  margin: 0 5px;
}
