* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profile {
  min-width: 100px;
  margin-top: 30px;
}
.profile_info {
  min-height: 230px;
  margin-bottom: 44px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.profile_image > img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-right: 100px;
}
.profile_data_header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}
.profile_data_header > h1 {
  font-size: 30px;
  margin-right: 10px;
}
.profile_data_header > button {
  border: none;
  background-color: transparent;
  margin-left: 8px;
  padding: 3px 5px;

  border-radius: 7px;
}
.profile_data_follow,
.profile_data_follow_info {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.profile_data_follow {
  justify-content: space-between;
}

.profile_data_follow_info > h2 {
  font-size: 16px;
  font-weight: 700;
  margin-right: 3px;
}
.profile_data_follow_info > h3 {
  font-size: 16px;
  font-weight: 200;
  margin-right: 3px;
}

.profile_data_follow_info > h3 > a {
  text-decoration: none;
  color: black;
}
.fullName {
  margin: 0;
  font-size: 20px;
  font-weight: 700;
}
