* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 60px;
  border-bottom: 1px solid rgb(219, 219, 219);
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navbar_logo {
  display: flex;
  justify-content: center;
  position: relative;
}

.navbar_logo_arrow {
  position: absolute;
  color: black;
  top: -5%;
  right: -20%;
  border: none;
  background-color: transparent;
}
.navbar_logo img {
  width: 103px;
  height: 29px;
}
.navbar_icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 278px;
}

.navbar_icons button {
  border: none;
  background-color: transparent;
  width: 25px;
  height: 25px;
}

.navbar_icon_img {
  width: 24px;
  height: 24px;
}

.navbar_icon_profile img {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.arrow_icon img {
  width: 16px;
  height: 16px;
  margin: 5px;
}
.arrow_icon span {
  font-size: 14px;
}
.arrow_icon span:hover {
  color: black;
}

.arrow_icon {
  text-decoration: none;
  color: black;
}

.searchbox {
  background-color: #efefef;
  border-radius: 8px;
  width: 268px;
  height: 36px;
  border: none;
  padding: 10px;
}
.searchbox:focus {
  outline: none;
}
